---
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/NavBar.astro";
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import Details from "@/components/Details.astro";
import Plans from "@/components/Plans.astro";
import Process from "@/components/Process.astro";
import Faq from "@/components/Faq.astro";
---

<Layout title="Check House">
  <main>
		<NavBar />
		<Hero />
		<Services />
		<Details />
		<Plans />
		<Process />
		<Faq />
  </main>
</Layout>

<style></style>
