---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Check House">
  <main>
		<h1>Check House Lp</h1>
	</main>
</Layout>

<style>


</style>
